APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

QINIU_ACCESS_KEY=
QINIU_SECRET_KEY=
QINIU_BUCKET_PLUBLIC=
QINIU_BUCKET_PRIVATE=
QINIU_BUCKET_PLUBLIC_DOMAIN=
QINIU_BUCKET_PRIVATE_DOMAIN=

WECHAT_WEB_APPID=
WECHAT_WEB_SECRET=
WECHAT_WEB_REDIRECT_URI=

SMS_ALIYUN_SIGN_NAME=
SMS_ALIYUN_TEMPLATE_REGISTER=
SMS_ALIYUN_ACCESS_KEY_ID=
SMS_ALIYUN_ACCESS_KEY_SECRET=

SMS_QCLOUD_ACCESS_KEY_ID=
SMS_QCLOUD_ACCESS_KEY_SECRET=
SMS_QCLOUD_SIGN_NAME=
SMS_QCLOUD_TEMPLATE_REGISTER=
